body {
	margin: 0;
    font-family: 'Playfair Display', serif;
}

img {
	width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

#main-container { 
	width: 100%;
	margin: 0 auto;
}

#head-container {
	position: absolute;
    /* opacity: 0.3; */
    width: 100%;
    height: 124px;
    /* background-color: #9AD0FF; */
}

#logo {
	width: 148px;
    height: 90px;
    position: absolute;
    left: 30px;
    top: 30px;
}


#homepage-container {
	width: 100%;
	background: url("../images/roomfish-2.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 338px;
}

#home-tag-line {
	text-align: center;
	font-size: 65px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	color: orangered;
	padding-top: 204px;
}

#home-subtag-line {
	text-align: center;
	font-size: 28px;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	color: white;
	padding-top: 13px;
}

#home-subtag-graphic {
    width: 303px;
    height: 45px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
}

.homepage-button {
    width: 150px;
    height: 15px;
    border: 1px solid orangered;
    padding: 10px;
    margin-top: 51px;
    font-size: 13px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Playfair Display', serif;
    color: black;
    background-color: rgba(255, 255, 255, 0.43);
}

#reservation-container {
	width: 100%;
	height: 100px;
    position: relative;
    bottom: 100px;
    margin-bottom: -100px;
    /*background-color: #C3E2FF;*/
}

.reservation-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 7;
}

.reservation-bkgd { 
    position: absolute;
    background-color: rgba(255, 255, 255, 0.43);
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
}



.reservation-checkin {
    width: 137px;
    height: 16px;
    float: left;
    margin-right: 3px;
    margin-top: 20px;
    margin-left: 137px;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
}

.reservation-checkin-box {
    width: 197px;
    height: 28px;
    background-color: white;
    float: left;
    margin-left: 119px;
    margin-right: -35px;
}

#reservation-button {
    width: 197px;
    height: 28px;
    background-color: white;
    float: left;
    margin-left: 119px;
    border: 1px solid orangered;
}

.reservation-text {
    width: 143px;
    height: 18px;
    margin-top: 3px;
    margin-left: 59px;
    font-family: 'Playfair Display', serif;
    color: black;
}


.reservation-date {
    width: 143px;
    height: 18px;
    margin-top: 3px;
    margin-left: 16px;
    font-family: 'Playfair Display', serif;
}

.row {
	background-color: #9AD0FF;
}

.info-box {
	width: 50%;
	float: left;
	background-color: #9AD0FF;
}

.clearer {
	clear: both;
}

.info-title {
	text-align: center;
	font-size: 35px;
	font-family: 'Playfair Display', serif;
	color: white;
	padding-top: 130px;
}

.info-graphic {
	width: 200px;
    height: 33px;
    margin-top: 21px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-body {
	text-align: center;
    font-size: 22px;
    font-family: serif;
    color: white;
    padding: 60px; 
}

.room-img
{
	width: 700px;
	height: 492px;
	background-image: url("images/roomfish-1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#quote-container {
	width: 100%;
	height: 300px;
	background-color: white;
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
}

#quote-tag-line {
	text-align: center;
	font-size: 30px;
	font-family: 'Playfair Display', serif;
	padding-top: 58px;
}

#quote-subtag-graphic {
    width: 200px;
    height: 33px;
    margin-top: 14px;
    margin-bottom: -20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide-container {
    position: relative;
    width: 500px;
    height: 130px;
    border: 1px solid red;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
}

#quote-zone {
    position: relative;
    width: 100%;
    height: 130px;
    overflow: hidden;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: black;
}

#quote-zone p {
  height: 100%;
}

#quote-zone .source {
  display: block;
  font-size: 15px;
  margin-top: 1em;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: white;
}

/* Media Queries */

@media screen and (max-width: 1120px) {

    .info-title {
        padding-top: 60px;
    }

}

@media screen and (max-width: 830px) {

  #homepage-container {

  }

  .info-box {
  	float: none;
  	width: 100%;
  }

}