body {
	margin: 0;
}

img {
	width: 100%;
}

#main-container { 
	width: 100%;
	/* height: 960px; */
	margin: 0 auto;
	/* background-color: orange; */
}

#head-container {
	position: absolute;
    /* opacity: 0.3; */
    width: 100%;
    height: 124px;
    /* background-color: #9AD0FF; */
}

#logo {
	width: 148px;
	height: 90px;
	position: absolute;
    left: 70px;
    top: 16px;
}

#nav-container {
	width: 400px;
	height: 20px;
	/* background-color: purple; */
	position: absolute;
    right: 0px;
    top: 30px;
}

#homepage-container {
	width: 100%;
	background: url("../images/roomfish-2.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 338px;
}

#home-tag-line {
	text-align: center;
	font-size: 65px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	color: black;
	padding-top: 204px;
}

#home-subtag-line {
	text-align: center;
	font-size: 28px;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	color: black;
	padding-top: 13px;
}

#home-subtag-graphic {
    width: 303px;
    height: 45px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
}

.homepage-button {
    width: 150px;
    height: 15px;
    border: 1px solid yellow;
    padding: 10px;
    margin-top: 32px;
    font-size: 13px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Playfair Display', serif;
}

#reservation-container {
	width: 100%;
	height: 100px;
	background-color: #ccc;
}

.row {
	background-color: #9AD0FF;
}

.info-box {
	width: 50%;
	float: left;
	background-color: #9AD0FF;
}

.clearer {
	clear: both;
}

.info-title {
	text-align: center;
	font-size: 40px;
	font-family: 'Playfair Display', serif;
	color: white;
	padding-top: 130px;
}

.info-graphic {
	width: 160px;
    height: 33px;
    margin-top: 21px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-body {
	text-align: center;
    font-size: 22px;
    font-family: serif;
    color: white;
    padding: 30px; 
}

.room-img
{
	width: 700px;
	height: 492px;
	background-image: url("images/roomfish-1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#quote-container {
	width: 100%;
	height: 300px;
	background-color: #ccc;
}

#quote-tag-line {
	text-align: center;
	font-size: 30px;
	font-family: serif;
	color: blue;
	padding-top: 22px;
}

#quote-subtag-graphic {
    width: 260px;
    height: 33px;
    background-color: blue;
    margin-top: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide-container {
    position: relative;
    width: 500px;
    height: 130px;
    border: 1px solid red;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
}

/* Media Queries */

@media screen and (max-width: 830px) {

  #homepage-container {
 
  }

  .info-box {
  	float: none;
  	width: 100%;
  }

}